<md-form-field>
  <input mdInput type="text" placeholder="Titre du groupe" [(ngModel)]="group.title">
</md-form-field>
<md-form-field>
  <textarea mdInput type="text" placeholder="Description rapide" [(ngModel)]="group.description"></textarea>
</md-form-field>



<br />
<span>{{ group.maxPlayers }} joueurs max</span>
<md-slider [max]="25" [min]="2" [step]="1" [thumb-label]="true" [(ngModel)]="group.maxPlayers">
</md-slider>


<hr />


<div class="mode-selector">
  <button md-button color="accent" (click)="toggleMode(mode)" [ngClass]="{'mat-raised-button': mode.selected}" *ngFor="let mode of displayModes">
      {{mode.prettyName}}
    </button>
</div>

<div class="sub-modes">
  <div class="sub-mode-pannel" [ngClass]="mode" *ngIf="selectedMode">
    <h4>Besoin de préciser tes envies ?</h4>

    <ng-container *ngFor="let submode of displaySubModes | scSubModeByMode: selectedMode">
      <md-slide-toggle class="example-margin" [checked]="checked" [(ngModel)]="submode.selected">
        {{submode.name}}
      </md-slide-toggle>
    </ng-container>


  </div>
</div>

<button [disabled]="!selectedMode" md-raised-button color="primary" (click)="submit()">Valider !</button>