<mat-card>
  <mat-card-header>
    <mat-card-title> STATUT </mat-card-title>
  </mat-card-header>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LFG
      </mat-panel-title>
      <mat-panel-description>
        Actuellement {{ lfg ? "en recherche de groupe" : "inactif" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button color="primary" mat-button routerLink="/LFG/criteres">{{lfg ? "Changer de critères" : "Lancer une recherche"}}</button>
      <button mat-button (click)="lf.removeLfg()" *ngIf="lfg">Arrêter la recherche</button>
    </mat-action-row>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        LFM
      </mat-panel-title>
      <mat-panel-description>
        Actuellement {{ lfm ? "en recherche de membres" : "inactif" }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button color="primary" mat-button routerLink="/LFM/criteres">{{lfm ? "Voir mon groupe" : "Créer un groupe"}}</button>
      <button mat-button (click)="lf.leaveGroup()" *ngIf="lfm">Quitter le groupe</button>

    </mat-action-row>

  </mat-expansion-panel>

  <mat-card-actions>

  </mat-card-actions>
</mat-card>