<mat-card>
  <mat-card-title>Discord</mat-card-title>
  <mat-card-subtitle>Lier votre compte à Discord</mat-card-subtitle>

  <mat-card-content>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bot Discord
        </mat-panel-title>
        <mat-panel-description>
          Utiliser Discord pour lancer une recherche de groupe / membres
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>
        Avec notre bot discord, tu peux lancer une recherche de groupe où de membres directement depuis ton serveur préféré.
        Pas besoin de passer par le portail, de nombreuses commandes textuelles simples sont à ta disposition pour parametrer ta recherche et
        te permettre de rentrer en contact avec toute la communauté francophone, où qu'elle se trouve, tout en restant dans le douillet comfort de ton antre favorite.
      </p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Nom et présence
        </mat-panel-title>
        <mat-panel-description>
          Affiche ta présence discord à tous les utilisateurs de jade
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Plus jamais tu ne passera au traver des goutes.</strong>

      <p>En connectant ton compte à discord, tu diffuse automatiquement ta présence discord sur Jade, ce qui permet à tes potes de te retrouver facilement et 
        aux inconnus de vérifier si tu es dispo pour une partie, même s'ils ne t'ont pas en ami sur Discord et ne partagent pas de serveurs en commun avec toi.
      </p>
    </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chat de groupe Automatique
        </mat-panel-title>
        <mat-panel-description>
          Crée automatiquement une conversation sur discord avec les membres de ton groupe
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Spectrum</mat-card-title>
  <mat-card-subtitle>Valider votre handle</mat-card-subtitle>

  <mat-card-content>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bot Spectrum
        </mat-panel-title>
        <mat-panel-description>
          Utilise Spectrum pour lancer une recherche de groupe / membres
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Confirmation de handle
        </mat-panel-title>
        <mat-panel-description>
          Valide ton handle pour que personne ne puisse l'utiliser à ta place
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </mat-expansion-panel>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>StarCitizen.fr</mat-card-title>
  <mat-card-subtitle>Lier votre compte à sc.fr</mat-card-subtitle>

  <mat-card-content>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Afficher ta guilde
        </mat-panel-title>
        <mat-panel-description>
          Affiche l'identité de ta guilde sur ton profil et ton groupe
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Notifications SC.FR
        </mat-panel-title>
        <mat-panel-description>
          Reçois des notifications sur starcitizen.fr lorsque une partie se lance
        </mat-panel-description>
      </mat-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </mat-expansion-panel>

  </mat-card-content>

</mat-card>