<md-card>
  <md-card-title>Discord</md-card-title>
  <md-card-subtitle>Lier votre compte à Discord</md-card-subtitle>

  <md-card-content>

    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Bot Discord
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Nom et présence
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>



    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Chat de groupe Automatique
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>

  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Spectrum</md-card-title>
  <md-card-subtitle>Valider votre handle</md-card-subtitle>

  <md-card-content>


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Bot Spectrum
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Confirmation de handle
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>

  </md-card-content>
</md-card>

<md-card>
  <md-card-title>StarCitizen.fr</md-card-title>
  <md-card-subtitle>Lier votre compte à sc.fr</md-card-subtitle>

  <md-card-content>


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Afficher ta guilde
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Notifications SC.FR
        </md-panel-title>
        <md-panel-description>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </md-panel-description>
      </md-expansion-panel-header>

      <strong>Notre Bot discord est génial.</strong>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at arcu dignissim, malesuada urna quis, feugiat tellus.
        Donec viverra vel neque a pulvinar. Vivamus nec lectus ut orci blandit vehicula. Duis nec feugiat tellus. Maecenas
        diam odio, lacinia id blandit ac, laoreet vitae erat. Cras in turpis vitae nisi eleifend luctus eget sit amet mauris.
        Aenean dignissim feugiat accumsan.</p>
    </md-expansion-panel>

  </md-card-content>

</md-card>