<md-card>
  <md-card-header>
    <img md-card-avatar [src]="currentImage">
    <md-card-title>
      <md-form-field>
        <input mdInput type="text" placeholder="Handle" [(ngModel)]="currentHandle">
      </md-form-field>
      <button md-button (click)="goHandle()" *ngIf="currentHandle">
        {{ currentIdent?.rsiHandle ? (currentIdent?.rsiHandle != currentHandle ? "Changer de handle" : "") : (!currentDossier ? "Renseigner mon handle" : "Chercher à nouveau") }}
      
      </button>
      <button md-raised-button color="primary" (click)="confirmHandle()" *ngIf="currentDossier">Confirmer ce handle</button>
    </md-card-title>
  </md-card-header>
  <md-card-actions>
    <button *ngIf="!currentIdent?.discordId; else disconectDiscord" md-button (click)="oauthDiscord.get_authorization()"> <img class="mat-icon material-icons" src="assets/images/Discord-Logo.svg" style="height:32px;"> Se connecter via Discord</button>
    <ng-template #disconectDiscord>
      <button md-button disabled> <img class="mat-icon material-icons" src="assets/images/Discord-Logo.svg" style="height:32px;"> Connecté à discord </button>
    </ng-template>
    <button md-button> <img class="mat-icon material-icons" src="assets/images/SCFR-logo.notext.dark.png" style="width:32px;"> Se connecter via SC.FR</button>
  </md-card-actions>
</md-card>


<div *ngIf="currentDossier">
  currentDossier {{currentDossier.id}} {{currentDossier.monicker}}
</div>