<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel><a routerLink="criteres">Critères de recherche</a></ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><a routerLink="contact">Informations de contact</a></ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><a routerLink="groupes">Voir les groupes</a></ng-template>
  </mat-step>
</mat-horizontal-stepper>

<router-outlet></router-outlet>

<!--<a mat-tab-link
*ngFor="let link of navLinks"
[routerLink]="link"
routerLinkActive #rla="routerLinkActive"
[active]="rla.isActive">
{{tabLink.label}}
</a>-->